<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"

>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--FOOTER-->
<footer th:fragment="footer">
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2024 &copy; BankAssets</p>
        </div>
        <div class="float-end">
            <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by F_A_R</a></p>
        </div>
    </div>
</footer>

</body>
</html>